body {
    background:#D9B0BB;
    font-family:Snell Roundhand, cursive;
}

.assignment{
    display:flex;    
    padding:10px;
    margin:10px;
    background:#D9BFC6;
    border-radius:50px;
}

.assignment img {
    width:200px;
    margin: 10px;
    border:4px solid #000000;
}

assignment img:hover{
    border:4px dashed #E6E6FA;
}

h1 {
    color:#BF8F9C;
    text-align:center;  
}

h1:hover{
    color:#E6E6FA;
}

a{
    text-decoration: none;
    color:#000000;
}

a:hover{
    color:#E6E6FA;
}